<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CricketFavourites</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/94308c0f38.js" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Favourite" asp-action="ListFavourites">Cricket Favourites</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="DefaultNewsList">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="FavouriteStatistics" asp-action="CompareStats">Compare Favourites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Favourite" asp-action="Search">Player Search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer center-on-small-only pt-0">
        <div class="container">
            <!--Grid row-->
            <div class="row pt-5 mb-3 text-center d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a asp-controller="Page" asp-action="About">About</a></h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a asp-controller="Page" asp-action="Contact">Contact</a></h6>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!--Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
                <div class="col-md-8 col-12 mt-5">
                    &copy; 2020 - CricketFavourites - Player Information Courtesy of &nbsp;<a href="https://www.cricapi.com/">https://www.cricapi.com/</a>
                    <br />
                    News Courtesy of &nbsp;<a href="https://rapidapi.com/microsoft-azure-org-microsoft-cognitive-services/api/bing-news-search1/details">Bing News Search API</a>

                </div>
            </div>
            <!--Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
