@model List<Favourite>

<div class="dropdown">
    <button class="btn btn-danger dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Select a player
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (Favourite fav in Model)
        {
            <a class="dropdown-item"
               asp-controller="FavouriteStatistics"
               asp-action="CompareWithPlayerSelected"
               asp-route-pid1="@fav.Pid">@fav.Name</a>
        }
    </div>
</div>