<p class="text-danger">TO DO: two dropdowns to select 2 favourited players</p>
<p class="text-danger">TO DO: presentation of selected players' stats side by side (with some interactivity/selection of specific stats)</p>