/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: normal;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-dark .navbar-nav .nav-link {
    color: #EEE2DC;
    padding: 15px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(/images/floor-tile.png);
    background-repeat: repeat;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: inherit
}




.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: normal;
    line-height: 60px; /* Vertically center the text there */
}

.containerflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img-top {
    max-height: 30%;
}


.card {
    background-color: #123C69;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    flex: 0 0 90%;
    min-width: 300px;
}


@media (min-width: 605px) {
    .card {
        flex: 0 0 40%;
    }
}

@media (min-width: 910px) {
    .card {
        flex: 0 0 28%;
    }
}

.card h3 {
    color: #fff;
}

.card p {
    color: #BAB2B5;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card-body {
    margin-bottom: 5px;
}

h1 {
    color: #123C69;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #AC3B61;
}

h4 {
    color: #123C69;
}

p {
    color: #123C69;
}


#searchBar {
    max-width: 60vw;
    margin: auto
}


.btn-primary {
    color: #fff;
    background-color: #AC3B61;
    border-color: #9A1750;
}


    .btn-primary:hover {
        background-color: #9A1750;
        border-color: #FFF;
    }

.btn-danger {
    color: #AC3B61;
    background-color: #fff;
    border-color: #1861ac;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #AC3B61;
    }

.table-dark {
    background-color: #123C69;
}

.newsCard {
    background-color: #123C69;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}

    .newsCard h2 {
        color: #fff;
    }

    .newsCard p {
        color: #BAB2B5;
        font-weight: bold;
    }


.flex-grid {
    display: flex
}

.col {
    flex: 1;
}


.comparisonDropdownContainer {
    text-align: center;
}

.comparisonDropdown {
    display: inline-block;
}

.searchBarLabelContainer {
    text-align: center;
}

.searchBarLabel {
    display: inline-block;
}
